<launch>
  <include file="$(find gazebo_playground)/launch/rodrone.launch"/>
  <include file="$(find rodrone_control)/launch/rodrone_control.launch"/>

  <node name="rodrone_core" pkg="rodrone_core" type="rodrone_node" output="screen" />
  <node name="xbox" pkg="joy" type="joy_node" respawn="true" />
</launch>